<div ng-controller="chat.controller" ng-cloak ng-init="ns='base.chat'">
    <div class="small-chat-box ng-small-chat fadeInRight animated"
         ng-show="isChatOpen" >
        <div class="heading">
            <small class="chat-date pull-right">
                {{ userNumber }} {{ (ns+'.usersOnline') | translate }}
            </small>
            {{ (ns+'.title') | translate }}
        </div>
        <div class="content" chat-slim-scroll>
            <div ng-repeat="msgData in messages">
                <div ng-class="$root.user._id == msgData.user._id ? 'right' : 'left'">
                    <div class="author-name">
                        {{ msgData.user.name.userName }} <small class="chat-date">
                        {{ msgData.date }}
                    </small>
                    </div>
                    <div class="chat-message" ng-class="{ 'active': $root.user._id == msgData.user._id }">
                        {{ msgData.message }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"
                       focus-if="isChatOpen"
                       ng-model="message"
                       ng-keypress="$event.keyCode == 13 && sendMessage(message)">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="sendMessage(message)">
                {{ (ns+'.submit') | translate }}
            </button>
        </span></div>
        </div>

    </div>
    <div id="small-chat" ng-click="openChat()">

        <span ng-if="msgBadge > 0" class="badge badge-danger pull-right">{{ msgBadge }}</span>
        <a class="open-small-chat">
            <i class="fa fa-comments"></i>
        </a>
    </div>
</div>
